/* font-family: 'Open Sans Condensed', sans-serif; */

body, html {
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px;
    line-height: 1.5;
    background-color: #e5eaeb;
}


/*...........................

FLEX

............................*/

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*...........................

HEADER 

............................*/
header {
    background-image: url("../img/DSC_0988a.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #55636b;

    display: flex !important; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_title {
    font-size: 58px;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 15px;
}

.header_log {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 20px;
}

.header_arrow i{
    font-size: 45px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    color:#b0bbbd;;
}



/*...........................

ГАЛЕРЕЯ

............................*/

.portfolio {
    padding-top: 70px;
    padding-bottom: 100px;
}


.portfolio_item {
    margin-bottom: 20px;
}

 img{
    height: 250px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title {
    font-size: 46px;
    font-weight: 600;   
    margin-bottom: 60px;
    text-align: center;
    color:  #55636b;
}

.italy-img {
 margin-bottom: 17px;
}

.italy_title {
    font-size: 34px;
    line-height: normal;
    margin-bottom: 5px;
}

.italy_title a {
    text-decoration: none; 
    color:  #55636b;
    transition: 0.2s ease-out;
    margin-bottom: 30px;

}

.italy_title a:hover {
    color:  #000;
    border-bottom: 1px solid #ffe400;   
}
.italy-img a img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;  
}
/*...........................

FOOTER

............................*/

footer {
    background-color: #1e1e20;
    color:#55636b;
    padding-top: 90px;
    padding-bottom: 100px;
}

footer p {
    margin-top: 0;
    margin-bottom: 15px;
}

p.footer_name {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: normal;
}

.ContactBox{
    width: 194px;
    height: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    display: none;
    background: #1e1e20;
    border: 2px solid white;
    top: -180px;
    position: absolute;
    border-radius: 6%;
    box-shadow: -1px 4px 20px 0px black;
}
.ContactMe_box{
    position: relative;
}


.button {
    border: 2px solid #fff;
    padding: 8px 15px;
    border-radius: 50px; 
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.6px;
    margin-bottom: 13px;
    transition: 0.2s ease-out;

}

.button:hover {
    color: #55636b;
    background-color: #fff; 
    cursor: pointer;
}

.ContactBox a{
    text-decoration: none;
    color: #55636b;
}
.ContactBox a:active{
    color: #55636b;
}

.ContactBox a:hover{
    color: #fff;
}
.ContactItem i{
    margin-right: 10px;
}
/*...........................

MEDIA

............................*/
/* при ширине экрана 1160px и менее */

@media (max-width: 1160px){

    .container {
        width: 100%;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .col-4 {
        padding-bottom: 30px;
    }

    img{
        height: 200px;
        width: 300px;
    }
}
